@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

:root {
    --background-light: #e1e7ec;
    --background-ex-light: #e7e7e7;
    --background-dark: #386351;
    --background-ex-dark: #131418;
    --font-color-light: #ebebeb;
    --font-color-dark: #282C34;
    --shadow: #AAA;
}

* {
  font-family: 'Oswald', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
  background-color: var(--background-light);
}

.scheduler {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.side-menu {
  position: fixed;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: var(--background-light);
  color: var(--font-color-light);
}

.menu-container {
  height: calc(100% - 3rem);
  width: 100%;
}

.menu-container a,
.menu-container img {
  display: block;
  width: 80%;
  margin: auto;
  padding: .5rem 0 1rem;
}

.menu-logo {
  background-color: var(--background-dark);
  box-shadow: 1px 3px 10px var(--shadow);

  margin: 5%;
  margin-bottom: 1rem;
  width: 90%;

  border-radius: 100%;
}

.menu-item {
  user-select: none;

  width: 100%;
  height: 4rem;
  margin-bottom: .25rem;

  display: inline-block;
  text-align: center;
  vertical-align: middle;

  font-size: 2rem;
  font-weight: bold;

  background-color: var(--background-dark);
  box-shadow: 0px 3px 10px var(--shadow);
}

.menu-item::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.menu-item:hover {
  background-color: var(--background-ex-dark);
  text-decoration: underline;
}

footer {
  height: 3rem;
  width: 100%;
  background-color: var(--background-ex-dark);
}

footer p {
  display: inline-block;
  width: 100%;
  line-height: 2rem;
  vertical-align: middle;
  text-align: center;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  padding: .5rem;

  text-align: center;

  width: 100%;
  height: 5rem;

  background-color: var(--background-dark);
  box-shadow: 0px 3px 5px var(--shadow);
}

.toolbar #hb-menu {
  float: left;
  fill: var(--font-color-light);
}

#title {
  user-select: none;
  vertical-align: middle;
  height: 100%;
  width: 50%;
  margin: 0 .5rem;
}

#title h1 {
  line-height: 4rem;
}

.toolbar h1 {
  color: var(--font-color-light);
  font-size: 2.9em;
  font-style: bold;
}

.scroller {
  height: 48px;
  margin-top: 10px;
  margin-right: 1rem;
  display: block;
  float: right;
}

.scroller svg {
  height: 100%;
}

.scroller #right,
.scroller #left {
  display: block;
  fill: var(--font-color-light);
  float: right;
}

.add-event {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.add-button {
  position: relative;
  right: 0px;
  bottom: 0px;
  height: 60px;
  width: 60px;
  background-color: var(--background-dark);
  border-radius: 100%;
  box-shadow: 3px 3px 7px var(--shadow);
  fill: var(--font-color-light);

}

.add-button:hover {
  fill: var(--font-color-dark);
}

.add-list {
  position: fixed;
  bottom: 120px;
  right: 15px;
  width: 180px;
  height: 150px;
  padding-right: 10px;
  display: none;
}

.add-list * {

  margin-bottom: 20px;
  text-align: right;
  padding: 4px;

  font-size: 1.5rem;

  background-color: var(--background-dark);
  color: var(--font-color-light);
  box-shadow: 2px 3px 5px var(--shadow);

  border-radius: 5px;
}

.add-list *:hover {
  user-select: none;
  background-color: var(--background-ex-dark);
  color: var(--font-color-light);
  text-decoration: underline;

}

.wrapper {
  width: 100%;
  position: absolute;
  top: 5rem;
  overflow: auto;
  background-color: var(--background-light);
}

.week {
  width: 95%;
  margin: .5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
}

.dog-list {
  font-family: 'Merriweather Sans', sans-serif;
  width: 100%;
  padding: 2%;
  height: calc(100% - 2rem);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.dog-list *{
  font-family: inherit;
  color: black;
  order: 10;
}

.day {
  height: 30rem;

  background-color: white;
  box-shadow: 5px 5px 10px var(--shadow);
  border-radius: 3px;
}

.day h2 {
  line-height: 2rem;
  position: relative;
  text-align: center;

  font-weight: 3;
  font-style: italic;
  border-bottom: 2px solid var(--background-dark);
  color: var(--font-color-dark);
}

.dog-list {
  color: black;
  order: 10;
}

.arrivals {
  color: blue;
  order: 3;
}
.arrivals::after {
  content: ' - Arrives';
}

.departures {
  color: red;
  order: 4;
}
.departures::after {
  content: ' - Leaves';
}

.boarding {
  order: 1;
  color: maroon;
}

.daycare {
  order: 2;
  color: hotpink;
}

.grooming {
  order: 5;
  color: green;
}
.fosters {
  color: darkblue;
  order:7;
}

.general {
  order: 5;
  color: darkslategrey;
}

#cover {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  top: 0;

  background-color: rgba(26, 29, 34, 0.71);
  display: none;
}

.date-search,
.dog-search {
  position: relative;
  width: 30%;
  left: 35%;
  top: 30%;
  z-index: 5;
  display: none;
}

.dog-search input,
.date-search input {
  padding: .5rem;
  width: calc(100% - 3.5rem);
  text-align: center;

  font-size: 2rem;
  background-color: #4444;
  color: var(--font-color-light);
  border-radius: 5%;
  border: none;
  border-bottom: 4px solid var(--font-color-light);
}

.dog-search img,
.date-search img {
  height: 3.5rem;
}

.dog-search input,
.dog-search img,
.date-search input,
.date-search img {
  float:left;
}

.results-list {
  position: relative;
  width: 100%;
  top: 3rem;
  padding-left: 1rem;
  list-style: none;
  overflow-y: scroll;
  background-color: var(--background-light);
}

form {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  padding: .5rem;

  border: none;
  color: var(--font-color-light);
  background-color: var(--background-dark);
}

form > input, form button {
  width: 60%;
  padding: 4px;

  background-color: var(--background-light);
  border: none;
  color: var(--font-color-dark);
}

form button {
  width: 40%;
  margin: 20px auto;

  color: var(--font-color-dark);
  border: none;
  text-decoration: none;
}

.close-add-dog {
  position: fixed;
  right: 13px;

  font-size: 2rem;
}

.date-input {
  display: none;
}

.date-input input {
  vertical-align: middle;

  border: none;
  background-color: var(--background-light);
  color: var(--font-color-dark);
}

.date-input input,
 .date-input div {
  width: 40%;
  display: inline-block;
  margin: auto;
  text-align: center;

  border: none;
}

.date-input div {
  width: 10%;
}

form * {
  margin: .5rem auto;
}

@media only screen and (max-width: 410px) {
  #title h1 {
    line-height: 2rem;
  }
}

@media only screen and (max-width: 530px) {

  #title h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .dog-search,
  .date-search {
    width: 90%;
    left: 5%;
  }
}

@media only screen and (max-width: 1055px) {
  #radios {
    display: block;
  }
}
