* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  overflow-x: hidden;
}

.scheduler {
  position: absolute;
  width: 100%;
}

.side-menu {
  position: fixed;
  left: -300px;
  width: 300px;
  height: 100%;
}

.menu-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 1rem;
  margin: .5rem;
}

.menu-item:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.menu-item {
  width: calc(100% - 1rem);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  font-size: 2rem;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#title {
  vertical-align: middle;
  height: 100%;
  width: 75%;
  margin: 0 .5rem;
}

#title h1 {
  line-height: 4rem;
}

#add-button {
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.toolbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  padding: .5rem;

  text-align: center;

  width: 100%;
  height: 5rem;
}

.scroller {
  height: 100%;
  width: 5rem;
  margin-right: 1rem;
  display: block;
  float: right;
}

.scroller > * {
  width: 50%;
}

.scroller span {
  display: inline;
  vertical-align: middle;
}

.scroller #left,
.scroller #right {
  line-height: 3.5rem;
  height: 100%;
}

.scroller #left {
  float: left;
}

.scroller #right {
  float: right;
}

.wrapper {
  width: 100%;
  position: absolute;
  top: 5rem;
  overflow: auto;
}

.week {
  width: 95%;
  margin: .5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
}

.dogList{
  width: 100%;
  padding: 2%;
  height: calc(100% - 2rem);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.day {
  height: 30rem;

}
.day h2 {
  line-height: 2rem;
  position: relative;
  text-align: center;
}

#cover {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
}

.date-search {
  position: fixed;
  width: 30%;
  left: 35%;
  top: 30%;
  z-index: 5;
  display: none;
}

.date-search input {
  padding: .5rem;
  width: calc(100% - 3.5rem);
  text-align: center;
}

.date-search img {
  height: 3.5rem;
}

.date-search input,
.date-search img {
  float:left;
}

#add-dog {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  padding: .5rem;
}

#close-add-dog {
  position: fixed;
  right: 13px;
}

#add-dog > input, #add-dog button {
  width: 60%;
  padding: 4px;
}

#add-dog button {
  width: 40%;
  margin: 20px auto;
}

.date-input input
, .date-input div {
  width: 50%;
  display: block;
  margin: auto;
  text-align: center;
}

#add-dog * {
  margin: .5rem auto;
}

@media only screen and (max-width: 410px) {
  #title h1 {
    line-height: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .date-search {
    width: 90%;
    left: 5%;
  }
}
