@import url('https://fonts.googleapis.com/css?family=Ubuntu');

:root {
    --background-light: #e1e7ec;
    --background-ex-light: #e7e7e7;
    --background-dark: #4d6c8c;
    --font-color-light: #ebebeb;
    --font-color-dark: #282C34;
    --shadow: #AAA;
}

* {
  font-family: 'Ubunutu', sans-serif;
}

body, html {
  background-color: var(--background-light);
}

.side-menu {
  background-color: var(--background-dark);
}

.menu-item {
  background-color: var(--background-light);
}

.menu-item:hover {
  background-color: var(--background-ex-light);
}

.toolbar {
  background-color: var(--background-dark);
  box-shadow: 0px 3px 5px var(--shadow);
}

.toolbar #hb-menu {
  float: left;
  fill: var(--font-color-light);
}

.toolbar h1 {
  color: var(--font-color-light);
  font-size: 2.9em;
  font-style: bold;
}

.scroller #right,
.scroller #left {
  color: var(--font-color-light);
  font-size: 3em;
  font-weight: 1;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome */
}

#add-button {
  background-color: var(--background-dark);
  border-radius: 100%;
  box-shadow: 3px 3px 7px var(--shadow);
  fill: var(--font-color-light);

}

#add-button:hover {
  fill: var(--font-color-dark);
}

.wrapper {
  background-color: var(--background-light);
}

.day {
  background-color: white;
  box-shadow: 5px 5px 10px var(--shadow);
  border-radius: 3px;
}

.day h2 {
  font-weight: 3;
  font-style: italic;
  border-bottom: 2px solid var(--background-dark);
  color: var(--font-color-dark);
}

.arriving {
  color: blue;
  order: 2;
}
.arriving::after {
  content: ' - Arrives';
}

.departing {
  color: red;
  order: 3;
}
.departing::after {
  content: ' - Leaves';
}

.boarding {
  order: 1;
  color: maroon;
}

#cover {
  background-color: rgba(26, 29, 34, 0.71);
  display: none;
}

.date-search input {
  font-size: 2rem;
  background-color: #AAA4;
  border-radius: 5%;
  border: none;
  border-bottom: 4px solid var(--font-color-dark);
}

#add-dog {
  border: none;
  color: var(--font-color-light);
  background-color: var(--background-dark);
}

#add-dog > input, #add-dog button {
  background-color: var(--background-light);
  border: none;
  color: var(--font-color-dark);
}

#add-dog button {
  color: var(--font-color-dark);
  border: none;
  text-decoration: none;
}

#close-add-dog {
  font-size: 2rem;
}

.date-input input {
  border: none;
  background-color: var(--background-light);
  color: var(--font-color-dark);
}

.date-input input
, .date-input div {
  border: none;
}

@media only screen and (max-width: 530px) {

  #title h1 {
    font-size: 2rem;
  }

  .scroller #right,
  .scroller #left {
    font-size: 2.5rem;
  }
}
